html, body {
    height: 100%;
    min-height: 100%;
    position: relative;
    /*color: #fff;*/
}

header {
    height: 100%;
}

p {
    margin-bottom: 0px;
}
.mg-10 {
    padding: 0.5em 0.5em;
}
.navbar {
    z-index: 9;
}

.navbar-brand {
    color: white !important;
}

.nav-fixed{
    position: fixed;
    width: 100%;
    background-color: transparent !important;
}
.navbar-center
{
    left: auto;
    text-align: center;
    margin:0 auto;
}
.nav-link {
    color: rgba(255,255,255,0.5) !important;
}

.nav-link:hover {
    color: rgba(255,255,255,1) !important;
}

.nav-link.active {
    color: rgba(255,255,255,1) !important;
}

.navbar-rrss {
    color: white !important;
    text-align: right;
}

.menu-icon {
    color: white !important;
}

.fa-facebook-f:hover{
    color: #3b5998;
    background-color: #fff;
    border-radius: 50%;
    height: 40px;
    margin: auto 3px;
    width: 40px;
    text-align: center;
}
.fa-twitter:hover, .fa-youtube:hover, .fa-instagram:hover, .fa-linkedin:hover{
    color: #00aced;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.5em;
}
.fa-youtube:hover {
    color: red !important;
}

.fa-linkedin:hover {
    color: #0077B5 !important;
}

.fa-instagram:hover {
    color: #833AB4 !important;
}

.fab {
    background-color: transparent;
    border-radius: 50%;
    height: 40px;
    margin: auto 3px;
    width: 40px;
    text-align: center;
}

.carousel-inner {
    height: 100%;
    display: flex;
}

/*.carousel-item {
    height: 100%;
}

.carousel-item img{
    position: absolute;
    top: -25%;
}*/

.carousel-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.carousel {
    color: white !important;
}

.slider-01{
    background-color: #555555;
    background-image: url('../images/nathan-anderson-316188-unsplash.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider-02{
    background-color: #555555;
    background-image: url('../images/16083767_ml.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.input-destinos, .btn-destinos {
    height: 3em;
}

.input-destinos{
    margin-top: 20px;
}

.input-group-btn {
    width: 25%;
}

.btn-destinos {
    border-top-left-radius: 0rem!important;
    border-bottom-left-radius: 0rem!important;
    width: 100%;
}

.cabecera{
    background-color: #555555;
    background-image: url('../images/nathan-anderson-316188-unsplash.jpg');
    height: 100%;
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-title {
    text-align: center;
}

.header-title h1 {
    font-size: 30vw;
}
.header-title h6 {
    font-size: 2em;
}

.header-button {
    color: rgb(50,50,50);
    margin-left: auto;
    margin-right: auto;

}

.header-button h1{
    background-color: rgba(255,255,255,0.5);
    text-align: center !important;
    margin: 20px auto 0px auto;
    padding: 10px 30px 15px 30px;
    border: white 3px solid;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 29px -4px rgba(0,0,0,0.75);
}
.header-button h1:hover{
    background-color: rgba(255,255,255,1);
}

.wrapper {
    background-color: ghostwhite;
}
.container-destinos {
    padding: 40px 0px;
}

.destino {
    padding: 20px;
    margin: 10px 0px 0px 0px;
    height: 300px;
    border-color: #e6e6e6;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
}
.destino-irlanda {
    background-image: url('../images/irlanda.jpg');
    background-color: white;
    background-size: cover;
    background-position: center;
}
.destino-washington {
    background-image: url('../images/washignton.jpg');
    background-color: white;
    background-size: cover;
    background-position: center;
}

.destino-paris {
    background-image: url('../images/paris.jpg');
    background-color: white;
    background-size: cover;
    background-position: center;
}

.destino-pekin {
    background-image: url('../images/pekin.jpg');
    background-color: white;
    background-size: cover;
    background-position: center;
}

.descripcion-destino {
    background-color: white;
    min-height: 180px;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    border-color: #e6e6e6;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    /*-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);*/
}

.far{
    color: #d6d6d6;
    font-size: 1.5em;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    padding: 0.5em 0.5em;
    float: right;
}

.far:hover{
    color: red;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

.far:active{
    color: blue;
}

.fa-euro-sign {
    color: #d6d6d6;
    font-size: 1.5em;
    background-color: white;
    display: inline-block;
    padding: 0.5em 0.5em;
    float: left;
}

.price{
    font-size: 2em;
    color: white;
    border: white 2px solid;
    background-color: rgba(0,0,0,0.3);
    font-weight: 700;
    text-align: center;
    padding: 0.1em 0.5em;
}

.row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

@media (min-width: 576px) {

    .header-title h1 {
        font-size: 10em;
    }
    .header-title h6 {
        font-size: 4em;
    }

}